{% extends 'base.html' %}

{% block body %}
<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offeset-2 loginbox">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                Oh No!
            </div>
            <div style="padding-top:30px" class="pannel-body">
                There was a problem activating youtr account. Please contact at <a href="mailto:support@codepicker.in">support@codepicker.in</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}